
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imgs/1.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    min-width: 100%;
}
.first1{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    min-height: 5%;
}
.first1 img{
    width: 100%;
}
.imgs{
    width: 45px;
    float: left;
    padding-top: 0;
}
.po{
    width: 145px;
    float: left;
    font-size: 29px;
    padding-top: 10px;
    color: #fff;
    padding-top: 10px;
}
.cle{
    clear: both;
}
li{
    float: left;
    color: #fff;
    padding-left: 15px;
    font-size: 23px;
}
.nav{
   float: right;
   padding-right: 60px;   
   padding-top: 15px;
}
.ooo{
    float: left;
    height: 25px;
}
a{
    color: #fff;
}
.nav ul{
    list-style-type: none;
}

.first2{
    text-align: center;
    padding-top: 180px;
    width: 60%;
    margin: auto;
    color: #fff;
}    
.first2 h5{
    font-size: 20px;
    font-weight: 100;
}
.first2 h2{
    font-size: 44px;
    padding: 25px;
}
.first2 p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 25px;
}
.first2 button{
    background-color: transparent;
    border: 0 solid ;
    padding: 13px 17px;
    color: #fff;
    font-size: 15px;
}
.first2 .ptno1{
    background-color:#b69250;
}
.first2 .ptno2{
    border: 2px solid #fff;
}
.first2 button{    
    background-color: transparent;
    border: 0 solid ;
    padding: 13px 15px;
    color: #fff;
    font-size: 15px;
}
.first2 .ptno1{
    background-color:#b69250;
}
.first2 .ptno2{
    border: 2px solid #fff;
}